#createCampaign {
    background-color: $primary-bg;
    color: $text-color;
    padding: $padding;
    border: 2px solid $accent-color;
    border-radius: $border-radius;
    max-width: 600px;
    margin: 0 auto;

    h1 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Cinzel', serif;
    }

    #campaignForm {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 10px;
            font-size: 1.2em;
        }

        input {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid $accent-color;
            border-radius: $border-radius;
            background-color: lighten($primary-bg, 10%);
            color: $text-color;
        }

        button {
            background-color: $button-bg;
            color: $button-color;
            padding: 10px 20px;
            border: none;
            border-radius: $border-radius;
            font-size: 1.2em;
            cursor: pointer;
            transition: background-color 0.3s;
            margin: 10px 0;

            &:hover {
                background-color: darken($button-bg, 10%);
            }

            &.back-button {
                background-color: $accent-color;
                color: $primary-bg;

                &:hover {
                    background-color: darken($accent-color, 10%);
                }
            }
        }
    }
}