#playerPage{
    background-image: linear-gradient($primary-bg, $primary-bg), url('../images/homepage-tavern.gif');
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    cursor: default;
    color: $text-color;
}