// _variables.scss

$primary-bg: #7B3F00;
$list-bg: #E69D50;
$list-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
$card-bg: #FFDAB9;
$card-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
$button-bg: #906e46;
$button-color: #fff;
$border-radius: 8px;
$padding: 20px;
$navbar-bg: #333;
$navbar-item-bg-hover: #575757;
$text-color: white;