// $list-bg:
// $card-bg: 
$button-bg: #5b3e23;
$button-hover-color: #714c2e; //hover
$button-active-color: #3e2a1c; //on click
$navbar-bg: #351600;
// $navbar-item-bg-hover: 
$text-color: #ffffff;
$primary-bg: rgba(91, 62, 35, 0.7);
$accent-color: rgb(255, 180, 115, 0.8);
$btn-font-size: 1em;