// main.scss

@import 'variables';
@import 'campaignPage';
@import 'dungeonMasterPage';
@import 'createNewCampaign';



body {
    background-color: $primary-bg;
    color: $text-color;
    font-family: 'Cinzel', serif; // Medieval style font

    #homepage {
        /*in this section will be displayed 2 components: 
        Homepage Header and Homepage Body */
        background-color: $primary-bg;
        border: 2px solid $accent-color;
        padding: 20px;
        border-radius: 10px;

        #homepage__header {
            font-size: 2em;
            text-align: center;
            margin-bottom: 20px;
            border-bottom: 2px solid $accent-color;
            padding-bottom: 10px;
        }

        #homepage__body {
            display: flex;
            flex-direction: column;
            align-items: center;

            #homepage__body__header {
                font-size: 1.5em;
                margin-bottom: 20px;
            }

            #dungeonMasterButton, #playerButton {
                background-color: $accent-color;
                color: $primary-bg;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                font-size: 1.2em;
                cursor: pointer;
                transition: background-color 0.3s;
                margin: 10px;

                &:hover {
                    background-color: darken($accent-color, 10%);
                }
            }
        }
    }
}

