#dungeonMasterPage {
  background-color: #3b2f2f;
  color: #f5e6cc;
  padding: 15px;
}
#dungeonMasterPage #dungeonMasterPage__header {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #b8860b;
  padding-bottom: 10px;
  font-family: "Cinzel", serif;
}
#dungeonMasterPage #createNewCampaign__button, #dungeonMasterPage #homepageButton {
  background-color: #8B4513;
  color: #f5e6cc;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}
#dungeonMasterPage #createNewCampaign__button:hover, #dungeonMasterPage #homepageButton:hover {
  background-color: #5e2f0d;
}
#dungeonMasterPage #listOfCampaigns {
  margin-top: 20px;
}
#dungeonMasterPage #listOfCampaigns #campaignCard {
  background-color: #F5DEB3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

#createCampaign {
  background-color: #3b2f2f;
  color: #f5e6cc;
  padding: 15px;
  border: 2px solid #b8860b;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}
#createCampaign h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Cinzel", serif;
}
#createCampaign #campaignForm {
  display: flex;
  flex-direction: column;
}
#createCampaign #campaignForm label {
  margin-bottom: 10px;
  font-size: 1.2em;
}
#createCampaign #campaignForm input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #b8860b;
  border-radius: 5px;
  background-color: #574646;
  color: #f5e6cc;
}
#createCampaign #campaignForm button {
  background-color: #8B4513;
  color: #f5e6cc;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 0;
}
#createCampaign #campaignForm button:hover {
  background-color: #5e2f0d;
}
#createCampaign #campaignForm button.back-button {
  background-color: #b8860b;
  color: #3b2f2f;
}
#createCampaign #campaignForm button.back-button:hover {
  background-color: #886308;
}

body {
  background-color: #3b2f2f;
  color: #f5e6cc;
  font-family: "Cinzel", serif;
}
body #homepage {
  /*in this section will be displayed 2 components: 
  Homepage Header and Homepage Body */
  background-color: #3b2f2f;
  border: 2px solid #b8860b;
  padding: 20px;
  border-radius: 10px;
}
body #homepage #homepage__header {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #b8860b;
  padding-bottom: 10px;
}
body #homepage #homepage__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #homepage #homepage__body #homepage__body__header {
  font-size: 1.5em;
  margin-bottom: 20px;
}
body #homepage #homepage__body #dungeonMasterButton, body #homepage #homepage__body #playerButton {
  background-color: #b8860b;
  color: #3b2f2f;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}
body #homepage #homepage__body #dungeonMasterButton:hover, body #homepage #homepage__body #playerButton:hover {
  background-color: #886308;
}/*# sourceMappingURL=index.css.map */