* {
  margin: 0;
  border: 0;
}

.app-container {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #333;
  color: white;
}

.sidebar .sidebar-list {
  list-style-type: none;
  padding: 10px;
}

.sidebar li {
  margin: 10px 0;
}

.main-content {
  margin-left: 200px;
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
}

h1,
p {
  color: #333;
}
